/*
*
*/
:root{
    --body-color: hsl(248, 53%, 58%);
    --page-color: hsl(40, 1%, 44%);
    --sidebar-color: hsl(51, 100%, 50%);
    --page-width: 17%;
    --page-top: 23.375%;
}


body{
    background-color: var(--body-color);
}

#zen-intro{
    background-color: var(--page-color) !important;
}

.sidebar{
    background-color: var(--sidebar-color) !important;
}

div.explanation, div.participation, div.requirements, div.benefits{
    position: fixed;
    width: var(--page-width);
    top: var(--page-top);
}

div.explanation{
    left: 2vw;
}

div.participation{
    left: 22vw;
}

div.benefits{
    left: 42vw;
}

div.requirements{
    left: 62vw
}

aside.sidebar{
    position: absolute;
    top: 17%;
    right: 0%;
    bottom: 0;
    width: 10%;
}