/*
*
*/
:root{
    --body-color: hsl(248, 53%, 58%);
    --page-color: hsl(40, 1%, 44%);
    --sidebar-color: hsl(51, 100%, 50%);
    --page-width: 60%;
    --page-top: 87%;
    --file: hsl(51, 45%, 50%);
}


header h1{
    font-family: "Alan Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body{
    background-color: var(--body-color);
}

#zen-intro{
    background-color: var(--page-color) !important;
}

.sidebar{
    background-color: var(--sidebar-color) !important;
}

div.explanation, div.participation, div.requirements, div.benefits{
    position: fixed;
    width: var(--page-width);
    height: 50vh;
    top: var(--page-top);
    background-color: var(--file);
    z-index: 9;
    transition: top .5s ease-in-out;
    visibility: collapse;
}
div.explanation:hover, div.participation:hover, div.requirements:hover, div.benefits:hover{
    visibility: visible;
    top: 50%;
}
div.explanation h3, div.participation h3, div.benefits h3, div.requirements h3{
    border: .5px solid white;
    display: inline;
    padding: .2em;
    background-color: var(--file);
    margin-bottom: 10vh;
    visibility: visible;
}


div.explanation{
    left: 0vw;
    
}



div.participation{
    left: 15vw;
    
}

div.benefits{
    left: 24.2vw;
    
}

div.requirements{
    left: 31vw;
    
}

aside.sidebar{
    position: absolute;
    top: 20%;
    bottom: 15%;
    right: 0%;
    width: 20%;
    z-index: 7;
}

div.extra1{
    position: fixed;
    left: 17%;
    height: 90%;
    width: 58%;
    background-image: url(/img/newspaper2.jpg);
    rotate: 10deg;
    z-index: 1;
}

div.extra2{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%;
    background-color: var(--file);
    z-index: 10;
}

section.intro{
    position: fixed;
    left: 17%;
    height: 90%;
    width: 58%;
    rotate: 350deg;
    z-index: 3;
}


.design-archives, .zen-resources{
    display: none;
}


